<%= form_with(model: intervention, local: true) do |form| %>
  <% if intervention.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(intervention.errors.count, "error") %> prohibited this intervention from being saved:</h2>

      <ul>
      <% intervention.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




  <%# ajax########################################################## %>
  <div class="row no-gutters wow slideInUp" data-wow-duration="1s">
    <div class = "container">
    <%# <h1>New Intervention</h1> %>
      <h1>
      New intervention
      <br>
       Welcome
      </h1>
        <%= form.text_field(:author, :readonly=>true, :value =>@author) %>
        <br>
        <br>
        <%# <div class="actions text-center"> %>
          <%= form.submit %>
        <%# </div> %>
    </div>
    <div class="col-md-12 home-form text-center">
      <%# customer section__________________________ %>
      <h3>
        <span style="color: #A90A15; font-weight:bolder">1<br></span> Select customer
      </h3> 
        <select style="max-width: 200px;" id="customer_select" class="custom-select mb-0 mr-sm-0 mb-sm-0"  <%= form.select(:customer_id) do %> >
          <option selected>customer</option>
          <%= @customer.each do |l| %>
                  <option value="<%= l.id %>"><%= l.company_name %></option>
          <% end %>
          <% end %>
        </select>
        <br>
        <br>
        <br>
        <br>
        <br>
        <%# building section__________________________ %>
        <h3>
        <span style="color:rgb(10, 101, 160); font-weight:bolder">2<br></span> Select building id belonging to customer
        </h3> 
        <select style="max-width: 150px;" id="building_select" class="custom-select mb-0 mr-sm-0 mb-sm-0" <%= form.select(:building_id) do %> >
          <option selected>building</option>
          <%= @building.each do |c| %>
                  <option value="<%= c.id %>"><%= c.id %></option>
          <% end %>
          <% end %>
        </select>
        <br>
        <br>
        <br>
        <br>
        <br>
        <%# batttery section__________________________ %>
        <h3>
        <span style="color: #A90A15; font-weight:bolder">3<br></span> Select battery id belonging to building
        </h3> 
        <select style="max-width: 150px;" id="battery_select" class="custom-select mb-0 mr-sm-0 mb-sm-0" <%= form.select(:battery_id) do %>  >
          <option selected>battery</option>
          <%= @battery.each do |b| %>
                  <option value="<%= b.id %>"><%= b.id %></option>
          <% end %>
          <% end %>
        </select>
        <br>
        <br>
        <br>
        <br>
        <br>
        <%# column section__________________________ %>
        <h3>
        <span style="color:rgb(10, 101, 160); font-weight:bolder">4<br></span> Select column id belonging to battery
        </h3> 
        <select style="max-width: 150px;" id="column_select" class="custom-select mb-0 mr-sm-0 mb-sm-0" <%= form.select(:column_id) do %>  >
          <option selected>None</option>
          <%= @column.each do |c| %>
                  <option value="<%= c.id %>"><%= c.id %></option>
          <% end %>
          <% end %>
        </select>
        <br>
        <br>
        <br>
        <br>
        <br>
        <%# elevator section__________________________ %>
        <h3>
        <span style="color: #A90A15); font-weight:bolder">5<br></span> Select elevator id belonging to column
        </h3> 
        <select style="max-width: 150px;" id="elevator_select" class="custom-select mb-0 mr-sm-0 mb-sm-0" <%= form.select(:elevator_id) do %> >
          <option selected>None</option>
          <%= @elevator.each do |e| %>
                  <option value="<%= e.id %>"><%= e.id %></option>
          <% end %>
          <% end %>
        </select>
        <br>
        <br>
        <br>
        <br>
        <br>
        <%# employee section__________________________ %>
        <h3>
        </span> Select employee
        </h3> 
        <select style="max-width: 150px;" id="employee_select" class="custom-select mb-0 mr-sm-0 mb-sm-0" <%= form.select(:employe_id) do %>  >
          <option selected>None</option>
          <%= @employee.each do |e| %>
                  <option value="<%= e.id %>"><%= e.id %></option>
          <% end %>
          <% end %>
        </select>
        <br>
        <br>
        <br>
        <br>
        <br>
        
        <div class="form-group ">
          <label for="exampleFormControlTextarea1">INFORMATION</label>
          <textarea style="max-width: 400px; margin-left: 750px;" class="form-control" id="exampleFormControlTextarea1" rows="3"<%= form.select(:report) do %>> </textarea>
          <% end %>
        </div>

        
    </div>
  </div>

<% end %>
